<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataServer</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class=page>
  <h1>Temperature Quotidienne Regionale</h1>
    <div>
        {{ script|safe }}
    </div>
</div>
</body>
</html>
